.containerNegado {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contentNegado {
  width: 500px;
}
.divInfoNegado {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1e222f;
  border-radius: 24px;
  padding: 35px;
  position: relative;
}
.tituloNegado1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.tituloNegado2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.botaoFaleConosco {
  height: 50px;
  width: 100%;
  border-radius: 14px;
  color: #fff;
  background: #1c8adb;
  border: 0;
}
