.containerConfirmar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contentConfirmar {
  width: 500px;
}
.divInfoConfirmar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1e222f;
  border-radius: 24px;
  padding: 35px;
  position: relative;
}
.divConversaoRedondo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 367px;
}
.confirmarInfo {
  padding: 16px;
  background-color: #141720;
  border-radius: 14px;
}
.confirmarInfo input {
  padding: 0;
  font-size: 24px;
}
.valorConfirmar {
  font-weight: 700;
  font-size: 14px;
}
.checkboxConfirmar {
  position: absolute;
  right: 14px;
  top: 37px;
}
.divInputConfirmar {
  position: relative;
}
